body {
    padding: 0px;
    margin: 0px;
    background: limegreen;
    /* background: url(ls-example.png); */
    /* background-size: cover; */
}

/* font and text */
@font-face {
    font-family: 'Haettenschweiler';
    src:url('Haettenschweiler.ttf.woff') format('woff'),
        url('Haettenschweiler.ttf.svg#Haettenschweiler') format('svg'),
        url('Haettenschweiler.ttf.eot'),
        url('Haettenschweiler.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


h2 {
    color: white;
    font-family: Haettenschweiler;
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    line-height: 60px;
    vertical-align: middle;
}

p {
    color: white;
    font-family: Haettenschweiler;
    font-size: 20px;
    margin: 0px;
    line-height: 30px;
    vertical-align: middle;
}



/* Slant boxes */
.sbox-med, .sbox-small {
    position: relative;
    margin-bottom:10px;
}

.sbox-small {
    height:30px;
}

.sbox-med {
    height:60px;
}

/* slant box backgrounds */
.sbox::before, .sbox-small::before , .sbox-med::before {
    content: "";
    display: block;
    background: #2a2a2a;
    height: 100%;
    width: 100%;
    transform: skew(-20deg);
    border-radius: 5px;
    position: relative;
}

.purple::before {
    background: linear-gradient(to right,#ff00ff,#2a2a2a 50px) !important;
}
.green::before {
    background: linear-gradient(to right,#00ff00,#2a2a2a 50px) !important;
}
.yellow::before {
    background: linear-gradient(to right,#ffff00,#2a2a2a 50px) !important;
}
.orange::before {
    background: linear-gradient(to right,#ff6600,#2a2a2a 50px) !important;
}

.flair::before {
    background: linear-gradient(to left,purple,#2a2a2a 50px) !important;
}

.sbox .content, .sbox-small .content, .sbox-med .content {
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

/* overlay blocks */
#overlay-top {
    width: 100%;
    position: fixed;
}

#overlay-top-content {
    width: 150px;
    height: 30px;
    margin: 10px auto;
    position: relative;
    transition: ease-out 1.5s;
}

#overlay-top-content.hidden {
    margin-top: -50px;
    transition: ease-in 1.5s;
}

#overlay-top-content p span{
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 30px;
}

#overlay-top-content p span.match-id{
    font-size: 25px;
    padding-left: 5px;
}



#overlay-bottom {
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100%;
}

#overlay-content {
    /* background-color: blue; */
    /* border-radius: 0px 75px 75px 0px; */
    margin-right: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 150px;
    overflow: hidden;
}


#sourcebots-logo {
    width: 200px;
    height: 100%;
    padding: 0px 10px;
    float: left;
}

#sourcebots-logo img {
    width: 200px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

#match-counter {
    font-size: 60px;
    margin-left: 230px;
    width: 300px;
    transition: width 1.5s ease-in-out, margin 1.5s ease-in-out;
    /* width: auto; */
    position: relative;
}

/* pre fade for expanding and colapsing the text */
#match-counter::after{
    content: "";
    display: block;
    background: #2a2a2a;
    background: linear-gradient(to right,#2a2a2a 20px,#00000000 30px) !important;
    height: 100%;
    width: 30px;
    transform: skew(-20deg);
    border-radius: 5px;
    position: absolute;
    top: 0;
}

#match-counter.only {
    margin-top: 60px;
}

#match-counter.clock-only {
    width: 150px;
}

#match-counter .timer {
    overflow: hidden;
    margin-left:10px;
}

.timer h2{
    width: max-content;
    float: right;
}

span.clock {
    width:70px;
    float: right;
    margin-right: 40px;
}

span.clock-info {
    float:right;
    margin-left: 40px;
}

#zones {
    font-size:24px;
    width:100%;
    transition: ease-out;
    transition-duration: 1.5s;
}

#zones.hidden {
    transition: ease-in;
    transition-duration: 1.5s;
    margin-top: 100px;
}

#zones ul {
    padding-left: 0px;
    width: 100%;
    position:relative;
}

#zones ul li {
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 19%;
    position: relative;
    margin: 0px 10px;
}

#zones ul li p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#overlay-side {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 300px;
    padding-bottom: 270px;
    padding: 10px;
}

#overlay-side>div {
    /*background: blue;*/
    border-radius: 50px;
    min-height:  200px;
    transition: ease-out;
    transition-duration: 1.5s;
    width:300px;
    position: absolute;
}

#overlay-side .hidden{
    margin-left: -500px;
    transition: ease-out;
    transition-duration: 1.5s;
}

#overlay-side .sbox-med {
    margin-left:10px;
}

#overlay-side-scores .row {
    width:150px;
}

#overlay-side-scores .score {
    padding-left:30px;
}
#overlay-side-scores .position {
    padding-right:  30px;
}

#overlay-side-scores .score::after {
    content:"pts";
}

#overlay-side-upnext .team-next {
    position: relative;
    height:120px;
    width:300px;
    margin-bottom:10px;
    margin-left:20px;
}

#overlay-side-upnext .name {
    position: absolute;
    margin: auto;
    width: 300px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

#overlay-side-upnext .team-next .img {
    height: 120px;
    width: 300px;
    transform: skew(-20deg);
    border-radius: 5px;
    position: absolute;
    top: 0;
    overflow: hidden;
    opacity: 0.5;
}

#overlay-side-upnext .team-next .img img {
    width: 240px;
    height: 120px;
    float: right;
    transform: skew(20deg);
    margin-right: -21px;
    object-fit: cover;
}

#overlay-side-upnext .team-next .img:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: separate;
    background: linear-gradient(to right,#2a2a2a 100px,#2a2a2a00 150px);
    background: linear-gradient(to right,#00000000 50px, #2a2a2a 51px, #2a2a2a 100px,#2a2a2a00 150px)
}
